html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    color:#666;
    font-size:1rem;
    margin: 0 auto;
    overflow-x: hidden;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

/* Profile */
.profile
{

}
.profile-info
{
    justify-content: center;
    flex-flow: column nowrap;
    margin-left:1rem;
}
.profile-pic
{
    align-items: center;
    flex:1 1 auto;
    min-width:70px;
    max-width:100px;
}
.profile-pic > div
{
    width:100%;
    height:auto;
}
.profile-img
{
    width:100%;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor:pointer;
}

/* Sections */
.banner
{
    background-color: #f7f7f7;
}
section:nth-child(odd)
{
    /*background-color: #f7f7f7;*/
}
section:not(:first-child)
{
    border-top:solid 1px #ccc;
}
.section
{
    margin: 0 auto;
    max-width:1200px;
    padding: 1rem 0;
}
.section-header
{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#ff7144;
    font-size:2rem;
    margin:1rem;
}
.section-sub-header
{
    font-family: 'Open Sans Condensed', sans-serif;
    color:#ff7144;
    font-size:1.5rem;
    margin:1rem;
}
.section-description
{
    line-height:1.8rem;
    margin:1rem;
}

/* Screenshots */
.screenshots
{
    flex-flow: row wrap;
}
.screenshot
{
    flex-flow: column nowrap;
    text-decoration: none;
    background-color:#fff;
    flex:1 1 400px;
    margin:2rem 1rem 2rem 1rem;
}
.screenshot-title
{
    color: #ff7144;
    font-size:1rem;
    text-align:center;
}
.screenshot-img
{
    border:solid 1px #ccc;
    margin:0.5rem 0 0.5rem 0;
    padding:1rem;
}
.screenshot-img:hover
{
    border:solid 1px #ff7144;
}
.screenshot-text
{
    font-style: italic;
    color: #888;
    font-size:0.8rem;
    text-align:center;
}

/* Centered background images */
.bg-img
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* images */
.ratio-16-9 {padding-bottom:56.25%;}
.ratio-4-3 {padding-bottom:75%;}
.ratio-1-1 {padding-bottom:100%;}

/* Responsive Design - Default css styles are portrait first */

/* Landscape */
@media (orientation:landscape)
{

}

/* Landscape and 1000px and larger */
@media (orientation:landscape) and (min-width: 1000px) 
{

}

/* Widths used in chrome dev tools */
@media all and (max-width: 320px) /* Mobile S - 319px and smaller */
{

}
@media all and (min-width: 320px) /* Mobile S - 320px and larger */ 
{

}
@media all and (min-width: 375px) /* Mobile M - 375px and larger */
{
}
@media all and (min-width: 425px)  /* Mobile L - 425px and larger */
{
}
@media all and (min-width: 768px) /* Tablet - 768px and larger */
{
    .section
    {
        padding: 3rem 0;
    }
    .section-header
    {
        font-size:3rem;
    }
    .section-sub-header
    {
        font-size:2.5rem;
    }
}
@media all and (min-width: 1024px) /* Laptop - 1024px and larger */
{

}
@media all and (min-width: 1440px) /* Laptop L - 1440px and larger  */
{

}